<h2>Rooms</h2>

<%= new_room_button() %>

<table>
  <thead>
    <th>Room</th>
    <th>Number of Residents</th>
    <th colspan="3"></th>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
        <tr>
          <td><%= room.number %></td>
          <td><% count_residents(room, @residents) %></td>
          <td><%= room_view_button(room)%></td>
          <td><%= room_edit_button(room)%></td>
          <td><%= room_delete_button(room)%></td>
        </tr>
    <% end %>
  </tbody>
</table>
